html {
    font-family: 'Lato', sans-serif;
  }
  div {
    border: 20px solid #BDC3C7;
   
    width: 80vw;
    
    margin: 20px auto;
    padding: 20px;
  }
  h2 {
    letter-spacing: 3.2px;
    font-weight: 700;
   
    font-size: 48px;
    color: #3D3D3D;
    margin: 0;
  }
  p {
    padding: 15px 0;
    margin: 0;
    text-align: right;
  }
  .date {
    
    border: none;
   
    color: #3498DB;

    padding: 0;
  }
  .middle {
    border-top: 5px solid #BDC3C7;
    border-bottom: 5px solid #BDC3C7;
    text-align: center;
  }

  section:nth-of-type(1) {
    border-bottom: 3px solid #BDC3C7;
  }
  
  section:nth-of-type(2) {
    margin-top: 20px;
  }

  #last {
    padding-bottom: 0;
  }
